@import '../../variables.scss';

.button {
  background: transparent;
  border: 3px solid $color-border-popup;
  border-radius: 20px;
  padding: 5px 20px;
  color: $color-text-light;
  font-size: 24px;
  font-weight: 700;
  backdrop-filter: blur(10px);
  transform-origin: center;

  &:hover {
    cursor: pointer;
    border-color: $color-focus;
    transform: scale(1.1);
  }

  &_accept {
    color: $color-accept;
  }

  &_decline {
    color: $color-decline;
  }

  // &_pause {
  //   position: absolute;
  //   right: 10px;
  //   top: 110px;

  //   width: 64px;
  //   height: 64px;
  //   border: none;
  //   border-radius: 50%;

  //   font-size: 0;
  //   background-image: url('./assets/UI/pause.png');
  // }
}