$bottom-line: 200px;
$rect-height: 100px;
$rect-width: $rect-height;
$color-bg-popup: #14c3bb;
$color-focus: #2e72ff;
$color-text-light: #ffffff;
$color-accept: greenyellow;
$color-decline: rgb(251, 63, 63);
$color-border-popup: #111;